<%- include('../../partials/admin/header.ejs'); -%>


    <div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">

    <div class="sidebar-brand d-none d-md-flex">
      <img src="/admin/img/logo.png" width="90" alt="">
    </div>
      
    <ul class="sidebar-nav mt-4" data-coreui="navigation" data-simplebar="">      
      <% if(user.status == "jornalista") { %>
        <li class="nav-item">
          <a class="nav-link" href="/admin/create">
            <svg class="nav-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <title>arrow-circle-top</title>
              <path d="M12 0.75c-6.213 0-11.25 5.037-11.25 11.25s5.037 11.25 11.25 11.25 11.25-5.037 11.25-11.25-5.037-11.25-11.25-11.25zM18.894 18.894c-1.757 1.752-4.182 2.835-6.859 2.835-5.365 0-9.715-4.349-9.715-9.715s4.349-9.715 9.715-9.715c5.365 0 9.715 4.349 9.715 9.715 0 1.365-0.282 2.664-0.79 3.843l0.024-0.063c-0.517 1.205-1.222 2.234-2.090 3.099l-0 0z"></path>
              <path d="M6.671 11.298l1.061 1.061 3.518-3.518v8.784h1.5v-8.784l3.518 3.518 1.061-1.061-5.329-5.329-5.329 5.329z"></path>
            </svg>          
            Criar notícia
          </a>
        </li>
      <%} else { %>
        <li class="nav-item">
          <a class="nav-link" href="/admin/aprove">
            <svg class="nav-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <title>check</title>
              <path d="M9.331 21.375l-0.346-0.352-0.185-0.183-4.040-4.041 0.002-0.003-3.922-3.922 4.576-4.576 3.917 3.917 9.341-9.341 4.576 4.576-9.869 9.874zM6.872 16.79l2.459 2.459 0.005-0.005 0.003 0.003 2.452-2.452 0.528-0.533 8.811-8.811-2.454-2.454-9.341 9.341-3.917-3.917-2.454 2.454 3.912 3.912z"></path>
            </svg>
            Aprovar notícia
          </a>
        </li>
      <% } %>
    </ul>
      
      <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
    </div>
    
    <div class="wrapper d-flex flex-column min-vh-100 bg-light">

      <header class="header header-sticky mb-4">
        <div class="container-fluid">
          
          <button class="header-toggler px-md-0 me-md-3" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">            
            <svg class="icon icon-lg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M3.5,7 C3.22385763,7 3,6.77614237 3,6.5 C3,6.22385763 3.22385763,6 3.5,6 L20.5,6 C20.7761424,6 21,6.22385763 21,6.5 C21,6.77614237 20.7761424,7 20.5,7 L3.5,7 Z M3.5,12 C3.22385763,12 3,11.7761424 3,11.5 C3,11.2238576 3.22385763,11 3.5,11 L20.5,11 C20.7761424,11 21,11.2238576 21,11.5 C21,11.7761424 20.7761424,12 20.5,12 L3.5,12 Z M3.5,17 C3.22385763,17 3,16.7761424 3,16.5 C3,16.2238576 3.22385763,16 3.5,16 L20.5,16 C20.7761424,16 21,16.2238576 21,16.5 C21,16.7761424 20.7761424,17 20.5,17 L3.5,17 Z"/>
            </svg>
          </button>

          <a class="header-brand d-md-none" href="#">
            <svg width="118" height="46" alt="CoreUI Logo">
              <use xlink:href="assets/brand/coreui.svg#full"></use>
            </svg>
          </a>

          <ul class="header-nav d-none d-md-flex">
            <li class="nav-item">
              <a class="nav-link" href="/admin/create">Dashboard</a>
            </li>
          </ul>

          <ul class="header-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/logout">
                <svg class="icon icon-lg text-danger" version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <title>account-logout</title>
                  <path d="M3.617 12.752l12.872-0v-1.5h-12.872l3.518-3.518-1.061-1.061-5.329 5.329 5.329 5.329 1.061-1.061-3.518-3.518z"></path>
                  <path d="M7.5 0.75v1.5h14.25v19.5h-14.25v1.5h15.75v-22.5h-15.75z"></path>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </header>
      
      <div class="body flex-grow-1 px-3">
        <div class="container-lg">
          <div class="row">
            
            <div class="col-lg-6">      
              <% if(messages.message) { %>   
                <div id="message-alert" class="alert alert-success" role="alert">
                    <%= messages.message %>
                </div>                                           
              <% } %>
            </div>

            <h4 class="card-title mb-0">Notícias Submetidas</h4>
              
            <div class="mt-5">

            <% news.forEach(n => { %>                    
              <div class="card w-75 d-flex flex-row mb-3">
                <img src="/uploads/<%= n.imagem %>" class="img-fluid rounded-start w-25" alt="...">
                <div class="card-body">
                  <h5 class="card-title">
                    <%= n.titulo %>
                  </h5>
                  <div class="card-text">
                    <small class="text-body-secondary">POR: <%= n.author.toUpperCase() %></small>
                  </div>
                  <div class="card-text mt-2">
                    <p>
                      <%=  n.descricao %>
                    </p>
                  </div>
                  <div class="d-flex justify-content-end">
                    <a href="/admin/aprove/<%= n.id %>" class="btn btn-success text-white">Ver detalhe</a>
                  </div>
                </div>
              </div>                
            <% }) %>

            </div>
          </div>
        </div>
      </div>
<script src="/admin/js/aproveTruncate.js"></script>
<%- include('../../partials/admin/footer.ejs'); -%>